<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <.live_title suffix=" | Genex">
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <header>
      Genex
    </header>
    <nav>
      <%= if assigns[:account] do %>
        <.link navigate={Routes.session_path(@conn, :logout)} class="underline">
          Logout
        </.link>
      <% else %>
        <.link navigate={Routes.auth_register_path(@conn, :register)} class="underline">
          Register
        </.link>
        <.link navigate={Routes.auth_login_path(@conn, :login)} class="underline">Login</.link>
      <% end %>
    </nav>
    <%= @inner_content %>
  </body>
</html>
